[Unit]
Description=Azure Provisioning

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/azure-provisioning.sh
ExecStart=/bin/bash -c "hostnamectl set-hostname $(curl \
    -H 'metadata: true' \
    'http://169.254.169.254/metadata/instance/compute/name?api-version=2019-06-01&format=text')"
ExecStart=/usr/bin/systemctl disable azure-provisioning.service

[Install]
WantedBy=multi-user.target
